/* dashboard*/

/* img {
  height: 150px;
  width: 300px;
} */

.card {
    margin-top: 5%;
    border-bottom: 2.5px solid gold !important; 
    border-radius: 0;
    line-height: 1.3;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    border-radius: 10px;
  }

  .card-body::after {
    height: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 2.5px solid gold !important; 
    -webkit-transition: all 0.35s;
      -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
      transition: all 0.35s;
  }
  
  .card-body::before,
  .card-body::after {
    background: lemonchiffon;
    content: '';
    position: absolute;
    z-index: -1;
  }
  
  .card:hover {
    color: #000;
  }
  
  .card:hover .card-body:after {
    height: 100%;
    color: #fff;
  }
  
  .card-body {  
    /* position: relative; */
    z-index: 0;
    -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
      transition: all 0.35s ease;
  }
  
  .card-img-top {
    z-index: 1;
    border-radius: 10px;
  }
  
  .card-text {
    margin-bottom: 1rem;
  }
  
  .card-date {
    margin-top: 10px;
    margin-bottom: 5px;
    color: grey;
  }
  
  .card-date img {
    width: 15px;
    height: 15px;
  }
  