body {
  background: #F8EDEB;
}

/* Header */
header {
  background-color: #FFE8D6;
}

.logo {
  padding-left: 30px;
  width: 90px;
  height: 60px;

}

.nav-link {
  color: #A44A3F !important;
}

.blogs {
  margin-top: -1px;
  font-size: 23px;
  font-weight: 700;
}

.create, .dashboard {
  font-size: 20px;
  font-weight: 500;
}

.user-photo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 3px solid #6F1D1B;
}

.user-name {
  padding-left: 10px;
  padding-right: 30px;
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.9rem; /* Footer height */
}

.footer-bottom{
	width: 100%;
	padding: 25px 0;
	text-align: center;
	color: #A44A3F;
	background: #FFE8D6;
}

footer img {
  width: 20px;
  height: 20px;
}

/* main */
.create-area {
  border: 5px solid #6F1D1B;
  padding: 10px;
  border-radius: 25px;
  height: 580px;
}

/* upload image */
.upload img {
  border: #6F1D1B solid 3px;
  border-radius: 15px;
  margin-top: 80px;
  margin-left: 120px;
}

.button_outer {
  margin-top: 22px;
  margin-left: 220px;
  border: #6F1D1B solid 2px;
  background: #F9F4F5; 
  border-radius:10px; 
  text-align: center; 
  height: 38px; 
  width: 140px; 
  display: inline-block; 
  transition: .2s; 
  position: relative;
}

.btn_upload {
  padding-top: 5px;
  color: #A44A3F; 
  text-align: center; 
  position: relative; 
  display: inline-block; 
  z-index: 3; 
  white-space: nowrap;
}

.btn_upload input {
  position: absolute; width: 100%; left: 0; top: 0; width: 100%; height: 105%; cursor: pointer; opacity: 0;
}

/* title */
.title {
  border-radius: 10px;
  border: #6F1D1B solid 1px;
  margin-top: 40px;
  margin-right: 100px;
  width:300px;
  height: 80px;
}

.title span {
  margin-left: 40px;
  padding-right: 10px;
  color: #A44A3F;
  font-size: 20px;
  font-weight: 500;
}

.title input {
  width: 400px;
  margin-top: 24px;

}

/* drop down selection */
select {
  margin-top: 10px;
  border: #6F1D1B solid 1px;
  margin-left: -12px;
  padding-left: 5px;
  border-radius: 5px;
  height: 25px;
  width: 558px;
  font-size: 12px;
  color: #A44A3F;
  font-weight: 400;
  background-color: rgb(249, 244, 245, .1);
}

.create-new-btn a {
  font-size: 12px;
  color: #A44A3F;
}

.create-new-btn a:hover {
  font-size: 12px;
  color: #e76f51;
}

.description span {
  color: #A44A3F;
  font-size: 20px;
}

.description {
  border-radius: 10px;
  border: #6F1D1B solid 1px;
  margin-top: 10px;
  margin-right: 100px;
  width: 300px;
  height: 300px;
}

.description textarea {
  margin: 5px 25px;
  border-radius: 10px;
  border: #6F1D1B solid 1px;
}

.submit-btn {
  margin-top: 20px;
  margin-left: 360px;
}

.btn {
  border: #6F1D1B solid 2px;
  border-radius: 10px;
  color: #A44A3F;
  background-color: #F9F4F5;
}

.btn:hover {
  color: #e76f51;
  background-color: #f9dcc4;
}

.cancel {
  margin-right: 15px;
}

/* Login & Register */
.form-container {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 40px;
  border: 2px solid black;
  border-radius: 20px;
}

h1 {
  text-align: center;
}

button {
  text-align: center;
  margin: auto;
}